body {
    background-color: #2a2a2f;
    color: white;
}

.notetaking-div {
    background-color: #3d4359;
    height: 70vh;
}

.lifespan-div {
    background-color: #779082;
}

.background-text {
    font-size: 2em;
    opacity: 0.3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.textarea-div {
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
}

textarea {
    margin: 1%;
    background-color: #3d4359;
    color: white;
    /* width: 48%; */
    font-size: 1.5em;
    height: 54dvh;
    flex-grow: 1;
}
.lifespan-div-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.eclipsed-div {
    background-color: #463f40;
    padding: 0.5%;
    width: 0.1em;
    margin: 0.1%;
}
.left-div {
    padding: 0.5%;
    background-color: #ce633f;
    width: 0.1em;
    margin: 0.1%;
}
